.task-list {

  .task {
    color: white;
    position: relative;
    overflow: auto;
    min-height: 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .task-wrapper {
      position: relative;
      max-width: 80%;
      margin: 25px auto;
      z-index: 999;

      .task-info, .task-stats {
        float: left;
        display: block;
        width: 48.6%;
      }

      .task-info {
        margin-right: 2.3%;

        .task-title {
          margin: 0;
          font-size: 60px;
        }

        .task-total-time {
          margin: 0;

          .time {
            padding-left: 10px;
            font-weight: 100;
          }
        }
      }

      .task-stats {
        margin-right: 0;

        .task-elapsed-time {
          font-weight: 100;
          font-size: 70px;
          margin: 0;
          float: right;
        }
      }
    }

    .task-done-amount {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99;
    }

    .grabber {
      height: 14px;
      background-color: #ccc;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      z-index: 9999;
    }
  }
}
